{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sobre nós</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Bem vindo ao melhor V-Commerce de Marte</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
É O VINÃO NÃO TEM JEITO
<br/><br/>
ENTREGAMOS PARA TODO PAÍS
<br/><br/>
NÃO PERCA TEMPO
</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}